@{
	ViewData["Title"] = "About";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.2732392850826!2d30.545681915730167!3d50.417380579470795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6bfd9f847b%3A0x7b4450f0aba198c6!2z0LLRg9C70LjRhtGPINCc0LjRhdCw0LnQu9CwINCR0L7QudGH0YPQutCwLCA00JEsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1519967617275" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
